<main class="main">
  <div class="controls">
    <app-button
      text="Sort By Title"
      (onClick)="displayMoviesSortedByTitle()"
    ></app-button>
    <app-button
      text="Sort By Director"
      (onClick)="displayMoviesSortedByDirector()"
    ></app-button>
    <app-button
      text="Sort By Release Date"
      (onClick)="displayMoviesSortedByReleaseDate()"
    ></app-button>
  </div>
  <app-movies-table [movies]="movies"></app-movies-table>
</main>
<!--<router-outlet></router-outlet>-->
