@use 'colors';

body {
  color: colors.$yellow;
  background-color: #000;
  background-image: url("/assets/stars_effect.png");
  font-family: sans-serif;
font-weight: bold;
  font-size: 24px;
  margin: 0;
  padding: 0;
}